<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    {{!-- Load any partials file using the '>' sign. Must not have any spacing between the curly brackets --}}
    {{>header}}
    <p>{{errorMessage}}</p>
    {{>footer}}
  </body>
</html>
