<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{!-- Load any partials file using the '>' sign. Must not have any spacing between the curly brackets --}}
      {{>header}}
      <p>This site was created by Rendi K. It uses data from mapbox.com and weatherstack.com</p>
      <img src="/img/robot.png" class="portrait">
    </div>

    {{>footer}}
  </body>
</html>
