<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
  </head>

  <body>
    {{!-- Load any partials file using the '>' sign. Must not have any spacing between the curly brackets --}}
    {{>header}}
    {{>footer}}
  </body>
</html>
